.container {
    width: fit-content;
    height: auto;
    margin: 30px auto;

    .boxquotenormal {
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: start;
        padding-left: 30px;
        border-left: 5px solid grey;

        p {
            font-size: 15px;
        }

        span {
            text-align: end;
            font-family: "PlaywriteCU";
            font-size: 13px;
        }
    }
}

@media (max-width: 724px) {
    p {
        font-size: 13px;
    }

    span {
        font-size: 10px;
    }
}
