.container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-bottom: 1px dashed teal;

    .toptitle {
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 15px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    img {
        width: 100%;
        max-height: 250px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
    }
}
