.container {
    margin-bottom: 20px;

    .lablemain {
        font-family: "PlaypenSans";
        cursor: pointer;
        height: 30px;
        display: flex;
        justify-content: space-between;
        padding: 0 0 0 20px;
        align-items: center;
        border-radius: 5px;
        border: 1px solid teal;

        h1 {
            font-size: 15px;
        }
    }

    .contentmain {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        padding: 5px 20px;
    }

    .open {
        max-height: 500px;
    }
}
