.container {
    height: 150px;
    background-color: white;
    padding: 50px 0 0 0;

    .titlemain {
        font-family: "PlaypenSans";
        font-weight: 500;
    }

    .descriptionmain {
        font-family: "PlaywriteCU";
    }
}
