.container {
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 10px 0 30px;
    border-bottom: 1px dashed teal;

    .title {
        font-size: 15px;
    }

    .technical {
        margin-top: 10px;
        p {
            padding-left: 20px;
        }
    }
}
