.container {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
    background-color: white;
    color: #fff;
    text-align: center;
    z-index: 999;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.formbuttonmenu {
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        margin 0.3s ease;
    background-color: rgb(203, 203, 203);
    padding: 5px 6px;
    margin: 0 5px;
    position: relative;
    z-index: 1;
}

.formbuttonmenu:hover {
    transform: scale(1.5);
    margin: 0 10px;
}

@media (max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 724px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 524px) {
    .container {
        width: 85%;
        padding: 10px 10px 10px 50px;
        overflow: auto hidden;
    }
}
