* {
    margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

body {
    overflow-x: hidden; /* Ẩn cuộn ngang */
    overflow-y: auto; /* Cho phép cuộn dọc */
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/*Theme*/
.dark-theme {
    background-color: black !important;
    color: white;
}

.light-theme {
    background-color: white !important;
    color: black;
}

/*boxlanguages*/
.boxlanguages-yellow {
    color: rgb(247, 175, 34) !important;
    border: 1px solid rgb(247, 175, 34) !important;
}

.boxlanguages-blue {
    color: #3178c6 !important;
    border: 1px solid #3178c6 !important;
}

.boxlanguages-teal {
    color: teal !important;
    border: 1px solid teal !important;
}
